ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="05ac", ATTR{idProduct}=="12a8", \
  ENV{ID_SERIAL_SHORT}!="00008110-001A0D942EEA401E", TAG+="systemd", \
  ENV{SYSTEMD_WANTS}="iosbackup@%E{ID_SERIAL_SHORT}.service"
