[Unit]
Description=iOS Backup Machine Web UI
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root
Environment=IOSBACKUP_CONFIG=/root/config.yaml
ExecStart=/root/iosbackupmachine/bin/python3 /root/webui.py
StandardOutput=append:/var/log/iosbackupmachine/webui.log
StandardError=append:/var/log/iosbackupmachine/webui.log
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
